* text=auto eol=lf

*.blade.php diff=html eol=lf
*.css diff=css eol=lf
*.html diff=html eol=lf
*.md diff=markdown eol=lf
*.php diff=php eol=lf
*.vue text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.scss text eol=lf
*.sh text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
