.button-dark
    background: #222220
    color: #fff
    font-weight: bold
    outline-color: #FFFFFF
    border-color: #6B6760
    cursor: pointer
    &:disabled
        cursor: not-allowed !important
        pointer-events: auto !important
    &:hover
        background: #383430
    &:active
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2)
    &:focus
        box-shadow: 0 0 0 0.2rem rgba(107, 103, 96, 0.5) // Darker gray glow
        outline: 0

.btn:disabled
    cursor: not-allowed !important
    pointer-events: auto !important
