.button-dark
    background: #222220
    color: #fff
    font-weight: bold
    outline-color: #FFFFFF
    border-color: #6B6760
    cursor: pointer
    &:disabled
        cursor: not-allowed !important
        pointer-events: auto !important
    &:hover
        background: #383430
    &:active
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3)

.btn:disabled
    cursor: not-allowed !important
    pointer-events: auto !important
